<h3>Update User Form</h3>

<form [formGroup]=form (ngSubmit)="editUser()">
    Name:
    <input type="text" formControlName="name" />
   
    Age:
    <input type="text" formControlName="age" />
    
    City:
    <input type="text" formControlName="city" />

    <input type="submit" value="Update" />

</form>