<h3>Login</h3>

<form [formGroup]=form (ngSubmit)="loginCheck()">
    Username:
    <input type="text" formControlName="username" />
   
    Password:
    <input type="password" formControlName="pwd" />
    
    <input type="submit" value="login" />

</form>