<h3>Welcome to my App</h3>
<div style="float:right">
    <button *ngIf="!loggedin" class="btn"><a routerLink="/login">login</a></button>
    <button  *ngIf="loggedin" class="btn" (click)=logout()>logout</button>
</div>