<h3>Add User Form</h3>

<form [formGroup]=form (ngSubmit)="submitUser()">
    Name:
    <input type="text" formControlName="name" />
   
    Age:
    <input type="text" formControlName="age" />
    
    City:
    <input type="text" formControlName="city" />

    <input type="submit" value="Add User" />

</form>